body {
  background-color: #BEA278;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
}
.imagerow {
  display: block;
}
.imagecontainer{
  display: inline-block;
  width: 293px;
  height: 293px;
  margin: 20px 10px;
  position: relative;
}

.imagecontainer img {
  position: absolute;
  top:0;
  left:0;
  width: 293px;
  height: 293px;
  z-index: -1;
}

h1, h4 {
  color: #704B33;
  text-align: center;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.button {
  margin: 0 auto;
  display: block;
  padding: 8px 80px;
  text-align: justify;
  margin: 0 auto 20px auto;
  font-size: 14px;
}
.imagecontainer h6{
  margin: 0;
  line-height: 293px;
  font-size: 25px;
  color: white;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  vertical-align: middle;
  text-align: center;
}
